body {
  font-family: "Roboto", sans-serif;
  background-color: #767064;
  color: #161413;
  text-align: center;
}

header {
}

#image {
  max-width: 60%;
  display: block;
  margin: auto;
  background-color: #cb2a24;
  border-radius: 20%;
  padding: 10px;
}

#time-line {
}
